body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
}

.topbar {
  background: #020617;
  padding: 15px;
  font-weight: bold;
}

.sidebar {
  width: 200px;
  position: fixed;
  height: 100%;
  background: #020617;
  padding-top: 20px;
}

.sidebar a {
  display: block;
  color: white;
  padding: 12px;
  text-decoration: none;
}

.sidebar a:hover {
  background: #1e293b;
}

.main {
  margin-left: 210px;
  padding: 20px;
}

.card {
  background: #1e293b;
  padding: 15px;
  margin: 10px 0;
  border-radius: 8px;
}

input, textarea, select {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  background: #020617;
  border: 1px solid #334155;
  color: white;
}

button {
  padding: 8px 12px;
  background: #2563eb;
  border: none;
  color: white;
  cursor: pointer;
  margin-top: 5px;
}

button:hover {
  background: #1d4ed8;
}
.login-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #0f172a;
}

.login-container {
  background: #1e293b;
  padding: 40px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.login-container h1 {
  margin-bottom: 5px;
}

.login-container h3 {
  margin-bottom: 20px;
  font-weight: normal;
  color: #94a3b8;
}

.login-container input {
  width: 100%;
  margin: 8px 0;
}

.login-container button {
  width: 100%;
}
